.mosquito_1{
    height: 50px;
    width: 50px;
}

.mosquito_2{
    height: 70px;
    width: 70px;
}

.mosquito_3{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
}